/* body{
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    background-color:lightblue ;
} */
 .container-fluid{
    height: 100vh;
 }
img{
    height: 250px;
    width: fit-content;
}
.row{
    background-color: aliceblue;
}
.h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder
}